
// Body
$body-bg: #f8fafc;

//FW Color Variables
$brand-primary__colour: #EF9D19;
$brand-secondary__colour: #231F20;
$text-primary__colour : #4A4A4A;
$white : #ffffff;
$black : #000000;
$grey-primary : #F5F5F5;
$grey-secondary : #CCCCCC;
$grey-tertiary : #918F8F;


// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// #  Typography
@import url('https://fonts.googleapis.com/css?family=Roboto|Rubik');


  // Base typography
$base__font-family : "Roboto", Tahoma, sans‑serif;
$base-header__font-family : "Rubik", Verdana, Geneva, sans-serif;
